.cartao {
	box-shadow: none;
	color: #333;
	cursor: pointer;
}

.release {
	position: absolute;
	top: 5%;
	right: 5%;
}

.cartao:hover {
	box-shadow: 3px 5px 5px #ccc;
	color: #333;
	text-decoration: none;
	cursor: pointer;
}
.imagem {
	height: 250px;
}
.navbar-brand {
	color: #fff !important;
}

/* CSS DO FILME */

.movie-title {
	margin-top: 5%;
}
.movie-description {
	margin-top: 5%;
}
/* CSS DO ELENCO */
.elenco-img {
	width: 100%;
	height: 200px;
}

.elenco-nome {
	position: absolute;
	top: 5%;
}
.nascimento {
	position: absolute;
	top: 20%;
}
